@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');

body {
    background-color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Хэдер
********************* */

header {
    position: sticky;
    top: 0;

    width: 100%;
    background-color: #5a65c5;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 100%;
}

/* Навигация
***************** */

nav {
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.nav_link {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    border-right: 1px solid #fff;
    padding-right: 10px;
    transition: color .1s linear;
}

.nav_link:hover {
    color: rgb(241, 241, 177);
}

.nav_link:last-child {
    border-right: none;
    padding-right: none;
}

/* Контент
************************ */

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

section {
    background-color: #eaecee;
    border: 1px solid #2F4F4F;
    border-radius: 3px;
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

li::marker {
    font-size: 25px;
    font-weight: 700;
    color: #7680d8;
}

li {
    color: #535baa;
}

.photo {
    text-align: center;
}

img {
    height: 500px;
    width: auto;
}

/* Table
********************* */

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

td {
    text-align: center;
}

/* footer
******************* */

footer {
    display: flex;
    height: 110px;
    background-color: #5a65c5;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.social_inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social_title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-top: 15px;
}

.social_item {
    display: flex;
    justify-content: center;

    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    padding: 2px;
    border-radius: 2px;

    margin-right: 15px;

    transition: background-color .1s linear;
}

.social_item:last-child {
    margin-right: 0;
}

.social_icon {
    margin: auto;
    height: 27px;
    width: 27px;
    fill: #fff;
    transition: fill .2s linear;
}

.social_item:hover {
    background-color: #fff;
}

.social_item:hover .social_icon {
    fill: #000;
}